{% extends 'myapp/base.html' %}

    {% block body %}

    <!-- Start Hero -->
        <section class="md:h-screen py-36 h-auto relative flex items-center background-effect overflow-hidden" style="background: url('assets/images/job/job.jpg');">
            <div class="container-fluid">
                <div class="absolute inset-0 z-0" style="background: url('assets/images/job/curve-shape.png');"></div>
            </div><!--end container-->

            <div class="container z-1">
                <div class="grid grid-cols-1 mt-10">
                    <h4 class="lg:leading-normal leading-normal text-4xl lg:text-5xl mb-5 font-bold">Make The Best Move to <br> Choose Your <span class="text-primary-600">New Job</span></h4>
                    <p class="text-muted-400 text-lg max-w-xl">Find Jobs, Employment & Career Opportunities. Some of the companies we've helped recruit excellent applicants over the years.</p>

                    <div class="grid lg:grid-cols-12 grid-cols-1" id="reserve-form">
                        <div class="lg:col-span-10 mt-8">
                            <div class="bg-white border-0 shadow rounded p-3">
                                <form action="#">
                                    <div class="registration-form text-dark text-start">
                                        <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 lg:gap-0 gap-6">
                                            <div class="filter-search-form relative filter-border">
                                                <i class="uil uil-briefcase-alt icons"></i>
                                                <input name="name" type="text" id="job-keyword" class="form-input filter-input-box bg-light-50 border-0" placeholder="Search your keaywords">
                                            </div>

                                            <div class="filter-search-form relative filter-border">
                                                <i class="uil uil-map-marker icons"></i>
                                                <select class="form-select" data-trigger name="choices-location" id="choices-location" aria-label="Default select example">
                                                    <option value="AF">Afghanistan</option>
                                                    <option value="AZ">Azerbaijan</option>
                                                    <option value="BS">Bahamas</option>
                                                    <option value="BH">Bahrain</option>
                                                    <option value="CA">Canada</option>
                                                    <option value="CV">Cape Verde</option>
                                                    <option value="DK">Denmark</option>
                                                    <option value="DJ">Djibouti</option>
                                                    <option value="ER">Eritrea</option>
                                                    <option value="EE">Estonia</option>
                                                    <option value="GM">Gambia</option>
                                                </select>
                                            </div>

                                            <div class="filter-search-form relative filter-border">
                                                <i class="uil uil-briefcase-alt icons"></i>
                                                <select class="form-select " data-trigger name="choices-type" id="choices-type" aria-label="Default select example">
                                                    <option selected="" value="1">Full Time</option>
                                                    <option value="2">Part Time</option>
                                                    <option value="3">Freelancer</option>
                                                    <option value="4">Remote Work</option>
                                                    <option value="5">Office Work</option>
                                                </select>
                                            </div>

                                            <input type="submit" id="search" name="search" style="height: 60px;" class="btn btn-primary searchbtn submit-btn w-100" value="Search">
                                        </div><!--end grid-->
                                    </div><!--end container-->
                                </form>
                            </div>
                        </div><!--ed col-->
                    </div><!--end grid-->

                    <div class="mt-6">
                        <span class="text-muted-400"><span class="text-dark">Popular Searches :</span> Designer Developer Web IOS PHP Senior Engineer</span>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->

            <div class="absolute inset-0 bg-primary-600/5"></div>
            <ul class="circles p-0 mb-0">
                <li class="brand-img"><img src="assets/images/client/shree-logo.png" class="w-9 h-9" alt=""></li>
                <li class="brand-img"><img src="assets/images/client/skype.png" class="w-9 h-9" alt=""></li>
                <li class="brand-img"><img src="assets/images/client/snapchat.png" class="w-9 h-9" alt=""></li>
                <li class="brand-img"><img src="assets/images/client/spotify.png" class="w-9 h-9" alt=""></li>
                <li class="brand-img"><img src="assets/images/client/telegram.png" class="w-9 h-9" alt=""></li>
                <li class="brand-img"><img src="assets/images/client/whatsapp.png" class="w-9 h-9" alt=""></li>
                <li class="brand-img"><img src="assets/images/client/android.png" class="w-9 h-9" alt=""></li>
                <li class="brand-img"><img src="assets/images/client/facebook-logo-2019.png" class="w-9 h-9" alt=""></li>
                <li class="brand-img"><img src="assets/images/client/linkedin.png" class="w-9 h-9" alt=""></li>
                <li class="brand-img"><img src="assets/images/client/google-logo.png" class="w-9 h-9" alt=""></li>
            </ul>
        </section><!--end section-->
        <div class="relative">
            <div class="absolute block w-full h-auto bottom-[25px] z-1 left-0">
                <a href=""><i class="mdi mdi-arrow-down absolute top-0 left-0 right-0 text-center inline-flex items-center justify-center rounded-full bg-white h-12 w-12 mx-auto text-dark h5 shadow-md"></i></a>
            </div>

            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!-- End Hero -->

    {% endblock %}

